{% extends "form/container.html.twig" %}

{% block form %}

  <h2>Thank you!</h2>

  <p>
    Your answers have been saved.
  </p>

  {% if back_link %}
    <a href="{{back_link}}" id="back" class="btn-md btn btn-info">{{back_label}}</a>
  {% endif %}

{% endblock %}
