{% extends "layout.html.twig" %}

{% block content %}

  <h2>Welcome!</h2>

  <p>
    Hello
    {{name}}
  </p>

  <ul>
    <li>
      <a href="{{ path('question', {'questionnaire_id': 1, 'step': 1 }) }}">Answer Questions (Sample Questionnaire)</a>
    </li>
  </ul>

{% endblock %}
