{% extends "layout.html.twig" %}

{% block content %}

  <h2>The Commons Taxonomy of Needs and Offers</h2>

  <p>
    Welcome {{name}}!
  </p>

  <ul>
    <li>
      <a href="/needs">Browse the Taxonomy (Categories and Tags)</a>
    </li>
    <li>
      <a href="{{ path('question', {'questionnaire_id': 2, 'step': 1 }) }}">Post a Need or Offer</a>
    </li>

  </ul>

{% endblock %}
